[submodule "u-boot-sunxi"]
	path = u-boot-sunxi
	url = https://github.com/jwrdegoede/u-boot-sunxi.git
[submodule "sunxi-tools"]
	path = sunxi-tools
	url = git://github.com/linux-sunxi/sunxi-tools.git
[submodule "sunxi-boards"]
	path = sunxi-boards
	url = git://github.com/linux-sunxi/sunxi-boards.git
[submodule "linux-stable"]
	path = linux-stable
	url = ./linux-stable/
